// Colors
$black: #202121;
$black-light: #444646;
$white: #fff;
$gray: #666666;
$light: #f4f7f6;
$light-dark: #e6eaea;
$error: #ff3333;

$border: 1px solid $light-dark;
$border2: 2px solid $black-light;

$h1: clamp(50px, 3.2vw, 60px);
$h2: clamp(70px, 4.2vw, 80px);
$h3: clamp(80px, 5.2vw, 100px);

$max-width: 1400px;
