@use "@/styles/foundation/variables" as v;
@use "@/styles/foundation/mixins";

.container {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guideMessage {
  @include mixins.fs5;
  margin: 4ch 0 6ch;
}

// 회원가입 페이지 약관 동의 체크박스
.agreement {
  margin-top: 5ch;
  a {
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
}

// 로그인페이지 하단 텍스트 메뉴
.otherAction {
  display: flex;
  flex-direction: column;
  gap: 3ch 0;
  a:hover {
    text-decoration: underline;
  }
}

.checkMarkIcon {
  color: v.$green;
  svg {
    display: block;
    margin: 0 auto 6ch;
  }
}

.successTitle {
  @include mixins.fs-lg;
  font-weight: 300;
  text-align: center;
  margin-bottom: 4ch;
  span {
    color: v.$blue;
  }
}
