@use "@/styles/foundation/variables" as v;
@use "@/styles/foundation/mixins";

.container {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 100%;
    h1 {
      @include mixins.fs4;
      text-align: center;
      margin-bottom: 3ch;
    }
    input:not(:first-of-type) {
      margin-top: 3ch;
    }
    // 에러 메시지
    input + label,
    p + label {
      @include mixins.fs2;
      margin-top: 4px;
      color: v.$error;
    }
    label a {
      display: block;
      text-align: center;
      &:not(:last-of-type) {
        margin-bottom: 1.4ch;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    button {
      margin-top: 3ch;
      margin-bottom: 6ch;
    }
  }
}

.guideMessage {
  @include mixins.fs5;
  margin: 4ch 0 6ch;
}

.errorInput {
  border-bottom: 1px solid v.$error !important;
}

// 회원가입 페이지 약관 동의 체크박스
.agreement {
  margin-top: 5ch;
  a {
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
}

// 로그인페이지 하단 텍스트 메뉴
.otherAction {
  display: flex;
  flex-direction: column;
  gap: 3ch 0;
  a:hover {
    text-decoration: underline;
  }
}
