@use "@/styles/foundation/variables" as v;
@use "@/styles/foundation/mixins";

%svg-style {
  cursor: pointer;
  path {
    stroke: v.$gray;
    stroke-width: 1.5px;
  }
  &:hover {
    path {
      stroke: v.$black-light;
    }
  }
  &:not(:last-of-type) {
    margin-right: 1.6ch;
  }
}

.container {
  padding-top: 4ch;
}

.title {
  @include mixins.fs-lg;
  font-weight: 500;
  margin-bottom: 10px;
}

.info {
  @include mixins.fs2;
  color: v.$gray;
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 6ch;
}

.divider {
  position: relative;
  .controls {
    position: absolute;
    right: 0;
    bottom: 2ch;
    svg {
      cursor: pointer;
      path {
        stroke: v.$gray;
        stroke-width: 1.5px;
      }
      &:hover {
        path {
          stroke: v.$black-light;
        }
      }
      &:not(:last-of-type) {
        margin-right: 1.6ch;
      }
    }
  }
  hr {
    border: none;
    border-bottom: v.$border2;
    width: 8.4ch;
  }
}

.contents {
  padding: 2ch 0 v.$h2;
  // 컨텐츠 영역 스타일 정의
  & > * {
    line-height: 1.8;
    &:not(p) {
      margin: 2ch 0;
    }
  }
  h1 {
    @include mixins.fs6;
    border-bottom: v.$border;
    padding-bottom: 0.6ch;
    font-weight: 500;
  }
  h2 {
    @include mixins.fs5;
    font-weight: 500;
  }
  h3 {
    @include mixins.fs5;
    font-weight: 400;
  }
  img {
    width: 100%;
    max-width: 60ch;
  }
  strong {
    font-weight: 500;
  }
  ol,
  ul {
    padding-left: 2.2ch;
  }
  ul li {
    list-style-type: disc;
  }
}

.answerEditorWrapper {
  position: relative;
  .answerControlBtns {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    button {
      margin: 0;
      @include mixins.respond(md) {
        width: 50%;
      }
    }
  }
}

.anserItems {
  margin-top: 6ch;
}
.answerItem {
  @include mixins.itemBox;
  &:not(:last-of-type) {
    margin-bottom: 6ch;
  }
  .answerItemHeader {
    @include mixins.fs4;
    font-weight: 400;
    color: v.$blue-green;
    margin-bottom: 1.2ch;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 0 1ch;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      border: v.$border;
      background-color: v.$light;
      position: absolute;
      transform: translate(0, -50%);
      left: 0;
      top: 50%;
      z-index: -1;
    }
    // 유저 아이콘
    svg {
      margin-right: 6px;
      path {
        stroke: currentColor;
        stroke-width: 2px;
      }
    }

    time {
      @include mixins.fs2;
      font-weight: 300;
    }

    // 수정, 삭제 아이콘
    .anserItemControls {
      line-height: 1;
      margin-left: 2ch;
      svg {
        cursor: pointer;
        path {
          stroke: v.$gray;
          stroke-width: 2px;
        }
        &:hover {
          path {
            stroke: v.$black-light;
          }
        }
        &:not(:last-of-type) {
          margin-right: 12px;
        }
      }
    }
  }
  .answerItemContents {
  }
}
