@use '@/styles/foundation/variables' as v;
@use '@/styles/foundation/mixins';

.title {
  @include mixins.fs-lg;
  font-weight: 500;
  margin-bottom: 10px;
}

.info {
  @include mixins.fs1;
  color: v.$gray;
  display: flex;
  align-items: center;
  gap: 0 10px;
  padding-bottom: v.$h1;
  border-bottom: v.$border2;
}

.contents {
  padding: clamp(30px, 2.1vw, 40px) 0;
  & > * {
    padding: 1ch 0;
  }
  h1 {
    @include mixins.fs4;
    font-weight: 500;
  }
  h2 {
    @include mixins.fs3;
    font-weight: 500;
  }
  h3 {
    @include mixins.fs3;
    font-weight: 400;
  }
}
