@use "@/styles/foundation/variables" as v;
@use "@/styles/foundation/mixins";

.table {
  dl {
    width: 100%;
    display: grid;
    gap: 0 4vw;
    grid-template-columns: 80px 1fr 140px;
    dd {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &[data-nocol="4"] dl {
    grid-template-columns: 80px 1fr 120px 140px;
  }
  @include mixins.respond(md) {
    dl {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 10px;
    }
  }
}

dl.tableHeader {
  @include mixins.fs3;
  font-weight: 500;
  height: v.$h2;
  border-bottom: v.$border2;
  dd {
    text-align: center;
    // 제목
    &:nth-of-type(2) {
      text-align: left;
    }
  }
  @include mixins.respond(md) {
    display: none;
  }
}

li.tableRow {
  height: v.$h3;
  border-bottom: v.$border;
  transition: background 0.2s;
  @media (hover: hover) {
    &:hover {
      background-color: v.$light;
    }
  }
  a {
    height: 100%;
    display: flex;
    align-items: center;
  }
  dd {
    display: flex;
    align-items: center;
    justify-content: center;
    // 번호
    &:nth-of-type(1) {
      @include mixins.respond(md) {
        display: none;
      }
    }
    // 제목
    &:nth-of-type(2) {
      justify-content: flex-start;
      width: 100%;
      @include mixins.respond(md) {
        color: v.$black;
        font-weight: 400;
      }
    }
    //작성일
    &:last-of-type {
      color: v.$gray;
    }
    @include mixins.respond(md) {
      color: v.$gray;
    }
  }
  @include mixins.respond(md) {
    &:first-of-type {
      border-top: v.$border;
    }
  }
}

.chat {
  @include mixins.fs1;
  color: v.$gray-dark;
  padding: 0 1ch;
  height: 2.6ch;
  margin-left: 2ch;
  background-color: v.$light;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.8ch;
  border-bottom-left-radius: 0;
  text-align: center;
}
