@use 'foundation/variables' as v;
@use 'foundation/mixins';

.button {
  padding: 1.5ch 3ch;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.2s;
}

// Loading
.loading {
  opacity: 0.4;
  cursor: auto;
  pointer-events: none;
}

// Disabled
.disabled {
  opacity: 0.4;
  cursor: auto;
  pointer-events: none;
}

// Variant
.dark {
  background-color: v.$black;
  color: v.$white;
  &:hover {
    background-color: v.$black-light;
  }
}

.light {
  background-color: v.$light;
  color: v.$black;
  &:hover {
    background-color: v.$light-dark;
  }
}

.outlined {
  background-color: transparent;
  border: 1px solid v.$black;
  &:hover {
    background-color: v.$black-light;
    color: v.$white;
  }
}

.text {
  background-color: transparent;
  &:hover {
    color: v.$gray;
  }
}

// Float
.left {
  float: left;
}

.right {
  float: right;
}

// fullWidth
.fullWidth {
  width: 100%;
}
