@use 'foundation/variables' as v;

.button {
  padding: 0 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: v.$black;
  color: v.$white;
  &:hover {
    background-color: v.$black-light;
  }
}

.light {
  background-color: v.$light;
  color: v.$black;
  &:hover {
    background-color: v.$light-dark;
  }
}

.text {
  background-color: transparent;
  &:hover {
    color: v.$gray;
  }
}
