@use 'foundation/variables' as v;
@use 'foundation/mixins';

%navItemBase {
  height: 100%;
  display: flex;
  align-items: center;
}

.header {
  @include mixins.fs3;
  border-bottom: v.$border;
  display: flex;
  justify-content: space-between;
  background-color: v.$white;
}

.navLinks {
  height: 100%;
  display: flex;
  li {
    @extend %navItemBase;

    a {
      padding: 0 20px;
    }
  }
}
.inactiveNavLink {
}
.activeNavLink {
  border-bottom: 2px solid v.$black;
}

.logo {
  @include mixins.fs4;
  @extend %navItemBase;
  font-weight: 400;
}

.myspace {
  @extend %navItemBase;
  .auth {
    @include mixins.no-select;
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-right: 40px;
  }
}
