@use 'foundation/variables' as v;
@use 'foundation/mixins';

%navItemBase {
  height: 100%;
  display: flex;
  align-items: center;
}

.header {
  border-bottom: v.$border;
  display: flex;
  justify-content: space-between;
  background-color: v.$white;
  @include mixins.respond(lg) {
    flex-direction: column;
  }
}

.navLinks {
  height: 100%;
  display: flex;
  li {
    @extend %navItemBase;
    @include mixins.respond(lg) {
      width: 100%;
    }
    a {
      padding: 0 20px;
      @include mixins.respond(lg) {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
  }
  .inactiveNavLink {
  }
  .activeNavLink {
    border-bottom: 2px solid v.$black;
  }
}

.logo {
  @include mixins.fs4;
  @extend %navItemBase;
  font-weight: 400;
  @include mixins.respond(lg) {
    display: none;
  }
}

.myspace {
  @extend %navItemBase;
  .auth {
    @include mixins.no-select;
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-right: 40px;
    @include mixins.respond(lg) {
      margin-right: 4vw;
    }
  }
  @include mixins.respond(lg) {
    order: -1;
    justify-content: flex-end;
  }
}
