@use 'foundation/variables' as v;


%navItemBase {
  height: 100%;
  display: flex;
  align-items: center;
}

.header {
  border-bottom: v.$border; 
  display: flex;
  justify-content: space-between;
  background-color: v.$white;
}

.navLinks {
  height: 100%;
  display: flex;
  li {
    @extend %navItemBase;
    
    a {
      padding: 0 20px;
    }
  }
}
.inactiveNavLink {
}
.activeNavLink {
  border-bottom: 2px solid v.$black;
}

.logo {
  @extend %navItemBase;
  font-size: 24px;
}

.myspace {
  @extend %navItemBase;

}