@use 'foundation/variables' as v;
@use 'foundation/mixins';

.layout {
  header {
    height: v.$header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 4vw;
    @include mixins.respond(lg) {
      padding: 0;
    }
  }
  main {
    min-height: 100vh;
    padding: 0 4vw;
    padding-top: calc(v.$header-height + 40px);
  }
  footer {
    border-top: v.$border;
    height: 100px;
    padding: 0 4vw;
  }
}
