@use "foundation/variables" as v;
@use "foundation/mixins";

$amount: 12%;

.button {
  font-weight: 400;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.2s;
  position: relative;
  border-radius: 8px;
  .content {
    display: flex;
    align-items: center;
    gap: 0 8px;
  }
}

// Loading
.loading {
  .loadingSpinner:after {
    content: "";
    box-sizing: border-box;
    width: 3ch;
    height: 3ch;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    color: inherit;
    border: 0.3ch solid rgba(255, 255, 255, 0.3);
    border-top-color: currentcolor;
    animation: spinner 0.8s cubic-bezier(0.5, 0.3, 0.9, 0.9) infinite;
  }
  .content {
    visibility: hidden;
  }
}

// Disabled
.disabled {
  opacity: 0.4;
  cursor: auto;
  pointer-events: none;
}

// Variant
.yellow {
  background-color: v.$yellow;
  color: v.$white;
  &:hover,
  &:active {
    background-color: darken(v.$yellow, $amount);
  }
}

.gray {
  background-color: v.$gray2;
  color: v.$black;
  &:hover,
  &:active {
    background-color: darken(v.$gray2, $amount);
  }
}

.light {
  background-color: v.$light;
  color: v.$black;
  &:hover,
  &:active {
    background-color: darken(v.$light, $amount);
  }
}

.outlined {
  color: v.$black;
  background-color: transparent;
  border: 1px solid v.$black;
  &:hover,
  &:active {
    background-color: v.$black-light;
    color: v.$white;
  }
}

.text {
  background-color: transparent;
  &:hover,
  &:active {
    color: v.$gray;
  }
}

// Align
.left {
  margin-right: auto;
}
.center {
  margin: 0 auto;
}
.right {
  margin-left: auto;
}

// fullWidth
.fullWidth {
  width: 100%;
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

// Size
.sm {
  height: 47px;
  @include mixins.respond(lg) {
    height: 40px;
  }
}
.md {
  height: 52px;
  @include mixins.respond(lg) {
    height: 42px;
  }
}
.lg {
  height: 64px;
  @include mixins.respond(lg) {
    height: 52px;
  }
}
