@use "foundation/variables" as v;
@use "foundation/mixins";

.container {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin: 5ch auto;

  // 2단계에서만 입력 폼 노출
  form {
    display: none;
  }
  &[data-step="2"] {
    form {
      display: block;

      .agreement {
        margin-top: 5ch;
        font-weight: 300;
        a {
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      fieldset {
        background-color: v.$gray1;
        padding: 4ch;
        border-radius: 20px;
        position: relative;
        border: none;
        margin-top: 9ch;

        @include mixins.respond(lg) {
          padding: 3ch 2ch;
        }
        legend {
          @include mixins.fs5;
          position: absolute;
          top: -3.4ch;
          left: 50%;
          transform: translateX(-50%);
          font-weight: 700;
          color: v.$yellow;
        }
      }
    }
  }

  svg {
    path,
    polyline {
      stroke-width: 1.4px;
    }
  }
}

.dataCollectionNotice {
  table {
    margin: 16px auto;
  }
  h2,
  h3 {
    font-weight: 500;
    margin: 3ch 0 2ch;
    text-align: center;
  }
  h2 {
    @include mixins.fs6;
  }
  h3 {
    @include mixins.fs5;
    background-color: #fffbf0;
    padding: 1ch;
  }
  p {
    line-height: 1.5;
  }

  strong {
    font-weight: 700;
  }
  u {
    text-decoration: underline;
  }

  ul,
  ol {
    margin: 0 0 10px 2.4ch;
  }
  li {
    list-style-type: unset;
    padding-inline-start: 6px;
  }
}

.stepGuide {
  @include mixins.fs4;
  border-radius: 20px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3ch;
  padding: 2ch;
  background-color: v.$gray1;
  color: v.$blue;
  word-break: keep-all;
  letter-spacing: -0.6px;
  svg {
    margin-right: 8px;
    transform: translateY(0.3ch);
  }
  strong {
    font-weight: 500;
    text-decoration: underline;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 6px;
    color: v.$black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  @include mixins.no-select;
  max-width: 600px;
  padding: 0 2ch;
  margin: 0 auto 9ch;
  display: flex;
  align-items: center;
  gap: 0 2ch;
  //각 스텝
  & > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s;
    //svg
    div {
      width: 6ch;
      height: 6ch;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    label {
      @include mixins.fs2;
      font-weight: 400;
      position: absolute;
      white-space: nowrap;
      transform: translate(-50%, 100%);
      bottom: -1ch;
      left: 50%;
    }
  }
  hr {
    border: none;
    flex: 1;
    border-bottom: 2px solid v.$gray1;
  }
}
div.activeStep {
  color: v.$yellow;
  //svg
  div {
    border: 1px solid v.$yellow;
    background-color: v.$yellow;
    color: v.$white;
  }
  & + hr {
    border-color: v.$yellow;
  }
}
div.inactiveStep {
  color: v.$gray;
  div {
    border: 1px solid v.$gray;
  }
}

.body {
  border-radius: 20px;
  background-color: v.$gray1;
  padding: 2ch;
}

.stepDocuments {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  img {
    transform: scale(1.2);
  }
  button {
    margin-top: 4ch;
  }
}

.dataCollectionSessionTitle {
  margin: 4ch 0 1ch;
}
.dataCollectionSessionTable {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border: 1px solid v.$gray3;
  background-color: v.$gray3;
  grid-gap: 1px;
  & > div {
    padding: 1ch;
    background-color: v.$white;
    cursor: pointer;
    em {
      color: v.$blue;
      font-style: normal;
    }
    &[data-active="true"] {
      background-color: v.$yellow;
    }
    &[data-disabled="true"] {
      cursor: auto;
      opacity: 0.4;
    }
  }
  .tableHeader {
    cursor: auto;
    background-color: v.$gray1;
  }
}

.stepCompleted {
  padding-bottom: 1ch;
  .consentDocs {
    overflow: hidden;
    img {
      transform: scale(1.2);
    }
  }
}

.card {
  padding: 2ch;
  border: 5px solid v.$gray2;
  border-radius: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 4ch;
  .cardTitle {
    @include mixins.fs5;
    font-weight: 700;
    color: v.$blue;
    text-align: center;
    margin-bottom: 2ch;
  }
  .cardSubtitle {
    @include mixins.fs4;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2ch;
    word-break: keep-all;
  }
  .cardContent {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 14ch 1fr;
    align-items: center;
    gap: 4px 2ch;
    margin-bottom: 3ch;
    border-radius: 25px;
    padding: 2ch;
    background-color: #fffbf0;
    span {
      display: inline-block;
    }
    & > div:nth-child(odd) {
      font-weight: 500;
    }
  }
}

section.withLabel label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  &:nth-of-type(1) {
    flex: 1.8;
  }
  &:nth-of-type(2) {
    flex: 1.3;
  }
  &:nth-of-type(3) {
    flex: 1.6;
  }
  select,
  option {
    color: v.$black;
    text-align: center;
    padding: 0 1ch;
  }
  input {
    text-align: center;
  }
  input {
    margin-left: 6px;
  }
}
.errorBorder {
  border: 1px solid v.$error !important;
}
