@use "@/styles/foundation/variables" as v;
@use "@/styles/foundation/mixins";

// 게시글용 ui
.lg {
  min-height: 25ch;
  margin-top: 5ch;

  & > div:nth-of-type(2) {
    border: none !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    & > div {
      // 툴바
      &:nth-of-type(1) {
        & > div > div > div {
          border: none !important;
          padding: 1ch 2ch;
          background-color: v.$white !important;
        }
      }
      // 컨텐츠 영역
      &:nth-of-type(2) > div {
        border: none !important;
        box-shadow: none !important;
        padding: 1ch 2ch !important;
        min-height: 23ch;
      }
    }
  }
}

// 댓글용 ui
.sm {
  min-height: 23ch;
  margin-top: 2ch;
  & > div:nth-of-type(2) {
    border: v.$border !important;
    & > div {
      // 툴바
      &:nth-of-type(1) {
        & > div > div > div {
          border: none !important;
          background-color: v.$light-dark !important;
        }
      }
      // 컨텐츠 영역
      &:nth-of-type(2) > div {
        border: none !important;
        box-shadow: none !important;
        padding: 1ch 2ch 4ch !important;
        min-height: 20ch;
        max-height: 400px;
      }
    }
  }
}
