@use "@/styles/foundation/variables" as v;
@use "@/styles/foundation/mixins";

.container {
  margin-top: 2ch;
}
.container > div:nth-of-type(2) {
  border: v.$border !important;

  & > div {
    // 툴바
    &:nth-of-type(1) {
      & > div > div > div {
        border: none !important;
        background-color: v.$light-dark !important;
      }
    }

    // 컨텐츠 영역
    &:nth-of-type(2) > div {
      border: none !important;
      box-shadow: none !important;
      padding: 1ch 2ch !important;
      min-height: 23ch;
      max-height: 400px;
    }
  }
}
