@use "foundation/variables" as v;
@use "foundation/mixins";

.footer {
  @include mixins.respond(md) {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px 0;
  }
}

.logos {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  @include mixins.respond(lg) {
    img {
      transform: scale(0.9);
    }
  }
}

.policies {
  @include mixins.fs2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px 2ch;
  & > * {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    line-height: 1.4;
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: v.$black;
      top: 0;
      right: -1ch;
    }
  }
}
