@use "foundation/mixins";
@use "foundation/variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  color: v.$black;
  @include mixins.fs2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  @include mixins.fs2;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: v.$border;
  display: block;
  width: 100%;
  height: v.$h1;
  &::placeholder {
    opacity: 0.6;
    font: inherit;
  }
  &:focus {
    border-bottom: 1px solid v.$black-light;
  }
  // autofill 배경색 제거
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  &:-webkit-autofill {
    font-size: 18px !important;
  }
}

a {
  @include mixins.no-select;
  color: inherit;
  text-decoration: none;
}

button {
  @include mixins.no-select;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  list-style-type: none;
}

dl {
  @include mixins.no-select;
  display: flex;
  align-items: center;
}

table {
  border: v.$border;
  border-collapse: collapse;
}
th {
  font-weight: 500;
}
tbody {
  tr:nth-of-type(odd) {
    background-color: v.$light;
  }
  td {
    padding: 0.5ch 1.5ch;
  }
}
