@use "foundation/variables" as v;
@use "foundation/mixins";

%navItemBase {
  height: 100%;
  display: flex;
  align-items: center;
}

.header {
  @include mixins.fs3;
  border-bottom: v.$border;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "navLinks . myspace";
  background-color: v.$white;
  position: relative;
  @include mixins.respond(lg) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 50px 50px;
    grid-template-areas:
      "pageTitle . myspace"
      "navLinks navLinks navLinks";
    align-content: stretch;
  }
  svg {
    cursor: pointer;
    path,
    polyline {
      stroke-width: 1.4px;
    }
  }
}

.pageTitle {
  display: none;
  @include mixins.respond(lg) {
    display: block;
    @include mixins.no-select;
    @include mixins.fs5;
    grid-area: pageTitle;
    padding-left: 4vw;
    align-self: center;
    font-weight: 400;
  }
}

ul.navLinks {
  grid-area: navLinks;
  display: flex;
  @include mixins.respond(lg) {
    border-top: v.$border;
  }
  li {
    @extend %navItemBase;
    @include mixins.active;
    position: relative;
    @include mixins.respond(lg) {
      width: 33.33%;
      height: max-content;
      height: 100%;
      &:not(:last-of-type) {
        border-right: v.$border;
      }
    }
    a {
      padding: 0 2.6ch;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mixins.respond(lg) {
        width: 100%;
      }
    }
  }
}

.navUnderline {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: v.$black;
}

.logo {
  @include mixins.fs4;
  @extend %navItemBase;
  font-weight: 500;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  @include mixins.respond(lg) {
    display: none;
  }
}

.myspace {
  @extend %navItemBase;
  grid-area: myspace;
  .auth {
    @include mixins.no-select;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0 1.6ch;
    svg {
      @include mixins.active;
    }

    //로그인/회원가입 영역
    .login {
      svg {
        display: none;
      }
      span {
        @include mixins.active;
      }
      @include mixins.respond(lg) {
        svg {
          display: block;
        }
        span {
          display: none;
        }
      }
    }

    .username {
      width: 6ch;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @include mixins.respond(lg) {
      .username {
        display: none;
      }
      button {
        height: 100%;
      }
    }
  }
}
