@use "foundation/variables" as v;
@use "foundation/mixins";

.introduction {
  article {
    &:not(:last-of-type) {
      margin-bottom: 10ch;
    }
    .imgWrapper {
      width: 90%;
      max-width: 1014px;
      margin: 0 auto;
      @include mixins.respond(md) {
        width: 100%;
      }
    }
  }

  // 사업소개 부분의 그리드 형식
  section {
    display: grid;
    grid-template-columns: 25ch 1fr;
    gap: 0 6ch;
    align-items: flex-start;
    @include mixins.respond(lg) {
      grid-template-columns: 1fr;
      gap: 2ch 0;
    }
    .button {
      @include mixins.fs5;
      font-weight: 700;
      height: 7ch;
      background-color: v.$yellow;
      border-radius: 10px;
      color: v.$white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      @include mixins.respond(lg) {
        width: 20ch;
        height: 3.6ch;
        margin: 0 auto;
      }
    }
    .logo {
      justify-self: center;
      width: 13.8ch;
      @include mixins.respond(lg) {
        width: 7ch;
        margin: 0 auto -2ch;
      }
    }
    .detail {
      word-break: keep-all;
    }
    margin-bottom: 6ch;
  }
}
