@use "foundation/variables" as v;
@use "foundation/mixins";

.layout {
  position: relative;
  & > * {
    background-color: v.$white;
  }
  @include mixins.respond(xl) {
    & > * {
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }
  .header {
    height: 117px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    @include mixins.respond(lg) {
      height: 59px;
    }
  }
  main {
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 100vh;
    width: 100%;
    max-width: v.$max-width;
    @include mixins.respond(lg) {
      padding-top: 59px; // 헤더 높이만큼
      padding-bottom: 70px;
    }
  }
  footer {
    padding-top: 2ch;
    padding-bottom: 2ch;
    border-top: v.$border;
  }
}
