@use "foundation/variables" as v;
@use "foundation/mixins";

.layout {
  header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 4vw;
    @include mixins.respond(lg) {
      padding: 0;
      height: max-content;
    }
  }
  main {
    max-width: v.$max-width;
    margin: 0 auto;
    min-height: 700px;
    padding: 160px 4vw v.$h2;
    @include mixins.respond(lg) {
      padding: 130px 4vw v.$h2;
    }
  }
  footer {
    border-top: v.$border;
    padding: 3ch 4vw;
  }
}
