@use "foundation/variables" as v;
@use "foundation/mixins";

.layout {
  position: relative;
  & > * {
    background-color: v.$white;
  }
  .header {
    height: 117px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    @include mixins.respond(lg) {
      height: 59px;
    }
  }
  main {
    padding-top: 117px;
    padding-bottom: 100px;
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr minmax(auto, v.$max-width) 1fr;
    grid-template-rows: min-content;
    align-items: start;
    & > div {
      grid-column: 2 / 3;
    }
    @include mixins.respond(lg) {
      padding-top: 59px;
      padding-bottom: 70px;
    }
  }
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    @include mixins.respond(xl) {
      padding-right: 4vw;
      padding-left: 4vw;
    }
  }
}
