@use "@/styles/foundation/variables" as v;
@use "@/styles/foundation/mixins";

.notice {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr minmax(auto, v.$max-width) 1fr;
  grid-template-rows: min-content;
  align-items: start;
  padding-right: 0;
  padding-left: 0;
  @include mixins.respond(xl) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.hero {
  grid-column: 2 / 3;
  width: 100%;
  position: relative;
  z-index: 0;
  @include mixins.respond(lg) {
    grid-column: 1 / 4;
  }
  .logo {
    width: 38ch;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% - 2ch);
    left: 50%;
    z-index: 2;
    @include mixins.respond(lg) {
      width: 152px;
    }
  }
  .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    img {
      outline: none;
    }
  }
}

.body {
  grid-column: 2/ 3;
  display: flex;
  gap: 0 10px;
  position: relative;
  margin-top: -5ch;
  background-color: transparent;
  @include mixins.respond(xl) {
    padding-right: 4vw;
    padding-left: 4vw;
  }
  @include mixins.respond(lg) {
    flex-direction: column;
    gap: 20px 0;
  }
  .card {
    min-height: 30ch;
    padding: 2ch;
    border: 5px solid v.$gray2;
    border-radius: 25px;
    flex: 1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    h2 {
      @include mixins.fs4;
      font-weight: 400;
      text-align: center;
      word-break: keep-all;
      max-width: 500px;
      margin: 0 auto 24px;
      height: 5ch;
    }
    .cardBody {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul,
      ol {
        width: 100%;
      }
      li {
        @include mixins.itemBox;
        h4 {
          @include mixins.fs4;
          font-weight: 400;
        }
        div {
          margin-bottom: 1ch;
        }
        time {
        }
      }
    }
  }
}
