@use 'foundation/variables' as v;
@use 'foundation/mixins';

.pagination {
  display: flex;
  gap: 0 1px;
  margin-top: v.$h1;
}

.paginationLink {
  @include mixins.no-select;
  cursor: pointer;
  width: v.$h1;
  height: v.$h1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$light;
  &:hover {
    background-color: v.$light-dark;
  }
}
.activeLink {
  background-color: v.$black;
  color: v.$white;
  &:hover {
    background-color: v.$black-light;
  }
}
