@use '@/styles/foundation/variables' as v;
@use '@/styles/foundation/mixins';

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 100%;
    h1 {
      @include mixins.fs4;
      text-align: center;
      margin-bottom: 3ch;
    }
    input:not(:last-of-type) {
      margin-bottom: 3ch;
    }
    input:last-of-type {
      margin-bottom: 4ch;
    }
    button {
      margin-bottom: 6ch;
    }
    a {
      display: block;
      text-align: center;
      &:not(:last-of-type) {
        margin-bottom: 1.4ch;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
